
* {
    box-sizing: border-box;
}
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

body {
    background-image: url("./back.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element-time{
    text-align: center;
}
.element-time span {
    font-size: 1.3rem;
}